global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'fact-check-exporter'
    static_configs:
      - targets: ['fact-check-exporter:8000']
