# Minimal overlay for CRDs only
metadata:
  name: crds-only-values-placeholder
prometheusOperator:
  enabled: false

prometheus:
  enabled: false

alertmanager:
  enabled: false

grafana:
  enabled: false

crds:
  enabled: true
