# Overlay for Prometheus Operator CRDs with ServiceMonitor + PodMonitor enabled

prometheusOperator:
  enabled: false

prometheus:
  enabled: false

alertmanager:
  enabled: false

grafana:
  enabled: false

crds:
  enabled: true

serviceMonitor:
  enabled: true
podMonitor:
  enabled: true
