.crownBoxShadow {
  box-shadow: 0 30px 60px -15px rgba(251, 191, 36, 0.6);
}
.crownAnimationDelay05s {
  animation-delay: 0.5s;
}
.crownAnimationDelay1s {
  animation-delay: 1s;
}
.crownTransitionDelay {
  transition-delay: var(--crown-delay, 0ms);
}
